ivides the operators in the following groups:# Python d
. Arithmetic operators
. Assignment operators
. Comparison operators
. Logical operators
. Identity operators
. Membership operators
. Bitwise operators

In [ ]:
#!conda install lxml -y

Python Arithmetic Operators

	Operator	Name	Example	Try it
0	+	Addition	x + y	Try it »
1	-	Subtraction	x - y	Try it »
2	*	Multiplication	x * y	Try it »
3	/	Division	x / y	Try it »
4	%	Modulus	x % y	Try it »
5	**	Exponentiation	x ** y	Try it »
6	//	Floor division	x // y	Try it »

In [ ]:
# !pip install pandas
# import pandas as pd

#table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')

<!-- table[0] -->

In [1]:
a : int = 7
b : int = 2

print(a + b) # addtition
print(a - b) # subtraction
print(a * b)
print(a / b) # division

9
5
14
3.5

In [ ]:
a : int = 11
b : int = 3

print(a % 3)

In [ ]:
print(2**2)
print(2**3)

In [ ]:
print(12 / 3)

In [ ]:
print(14.8 / 3)

In [ ]:
print( 14.8 // 3)

In [ ]:
print( 14 // 3)

# Python Assignment Operators

Operator	Example	Same As	Try it
0	=	x = 5	x = 5	Try it »
1	+=	x += 3	x = x + 3	Try it »
2	-=	x -= 3	x = x - 3	Try it »
3	*=	x *= 3	x = x * 3	Try it »
4	/=	x /= 3	x = x / 3	Try it »
5	%=	x %= 3	x = x % 3	Try it »
6	//=	x //= 3	x = x // 3	Try it »
7	**=	x **= 3	x = x ** 3	Try it »
8	&=	x &= 3	x = x & 3	Try it »
9	|=	x |= 3	x = x | 3	Try it »
10	^=	x ^= 3	x = x ^ 3	Try it »
11	>>=	x >>= 3	x = x >> 3	Try it »
12	<<=	x <<= 3	x = x << 3	Try it »

In [ ]:
#table[1]

In [ ]:
#:=
a : int = 7
print(b := 7)

In [ ]:
# = assign
a : int = 7
b : int = 2

In [ ]:
# +=
a : int = 7
print(a)
a = a + 2
print(a)

In [ ]:
# +=
a : int = 7
print(a)
a += 2
print(a)

In [ ]:
a : int = 7
print(a)
a -= 2
print(a)


# Python Comparison Operators

	Operator	Name	Example	Try it
0	==	Equal	x == y	Try it »
1	!=	Not equal	x != y	Try it »
2	>	Greater than	x > y	Try it »
3	<	Less than	x < y	Try it »
4	>=	Greater than or equal to	x >= y	Try it »
5	<=	Less than or equal to	x <= y	Try it »

In [ ]:
a : int = 7
b : int = 10

print( a == b )
# a == b
# 7 == 10
# False

In [ ]:
a : int = 7
b : int = 7

print( a == b )
# a == b
# 7 == 7
# True

In [ ]:
a : int = 7
b : str = '7'

print(a == b)
# a == b
# 7 == 7
# True

In [ ]:
# !=
a : int = 7
b : int = 7

print( a != b )
# a == b
# 7 == 7
# False

In [ ]:
# !=
a : int = 7
b : int = 8

print(a > b)
# a > b
# 7 > 8
# False

In [ ]:
# !=
a : int = 7
b : int = 7

print(a > b)
# a > b
# 7 > 8
# False

In [ ]:
# !=
a : int = 10
b : int = 8

print(a > b)
# a > b
# 10 > 8
# False

In [ ]:
# !=
a : int = 10
b : int = 8

print(a < b)
# a < b
# 10 < 8
# False

In [ ]:
# !=
a : int = 2
b : int = 7

print(a >= b)

In [ ]:
# !=
a : int = 7
b : int = 7

print(a >= b)

In [ ]:
# !=
a : int = 7
b : int = 7

print(a <= b)

In [ ]:
# !=
# a : int = 7
# b : int = 7

# print(a => b)

ASCII Code

A = 65
B = 66
Z = 90

a = 97
b = 98
z = 122

0=48
1=49
9=57

In [ ]:

ord('A')

In [ ]:
chr(65)

In [ ]:
a : str = 'A'
b : str = 'B'

print(b >= a)

In [ ]:
a : str = 'A'
b : str = 'a' 

print(b >= a)

# Python Logical Operators

In [ ]:
# table[3]

Operator	Description	Example	Try it
0	and	Returns True if both statements are true	x < 5 and x < 10	Try it »
1	or	Returns True if one of the statements is true	x < 5 or x < 4	Try it »
2	not	Reverse the result, returns False if the resul...	not(x < 5 and x < 10)	Try it »

In [ ]:
# and لازمی
# or = optional
#1        2        3        4
True and True and True and True

In [ ]:
# and لازمی
# or = optional
#1        2        3        4
print(True and True and True and True  )
print(True and True and False and True)
print(False and False and False and True)

In [ ]:
# and لازمی
# or = optional
#1        2        3        4
print(True or True or True or True  )
print(True or True or False or True)
print(False or False or False or True)
print(False or False or False or False)

In [ ]:
not True

In [ ]:
name : str = "Qasim"
print(not name=="Qasim")
# name == "Qasim"
# "Qasim" == "Qasim"
# True

In [ ]:
name : str = "Qasim"
print(name!="Qasim")
# name == "Qasim"
# "Qasim" == "Qasim"

# Python Identity Operators

In [ ]:
# table[4]

	Operator	Description	Example	Try it
0	is	Returns True if both variables are the same ob...	x is y	Try it »
1	is not	Returns True if both variables are not the sam...	x is not y	Try it »

In [ ]:
x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))

In [ ]:
i : str = 'abc'
j : str = 'xyz'

print(id(i))
print(id(j))

i is j

In [ ]:
x is z

In [ ]:
x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))

x is not z

# **Python Membership Operators**

In [ ]:
# table[5]

	Operator	Description	Example	Try it
0	in	Returns True if a sequence with the specified ...	x in y	Try it »
1	not in	Returns True if a sequence with the specified ...	x not in y	Try it »

In [ ]:
names: list[str] = [chr(i) for i in range(65,91)]

for i in range(len(names)):
    print(i, names[i])
    if names[i] == "D":
        print("True")
        break

In [ ]:
names: list[str] = [chr(i) for i in range(65,91)]

"D" in names

In [ ]:
names: list[str] = [chr(i) for i in range(65,91)]
display(names)

"Pakistan" in names

In [ ]:
names: list[str] = [chr(i) for i in range(65,91)]

"D" not in names

In [ ]:
names : list[str] = ['Sir Zia','Sir Inam', 'Qasim']

uinput : str = input("Enter your name")

uinput in names

In [ ]:
names : list[str] = ['Sir Zia','Sir Inam', 'Qasim']

uinput : str = input("Enter your name")

uinput not in names

In [ ]:
uinput not in names

**PEMDAS**

In [ ]:
print(3 + 2 - 2 * 4 /2 + 2)
#     3+2−2×4÷2+2
#     3 + 2 - 4 + 2
#      6    - 8

Alright, let's solve the equation step by step. We'll use the order of operations, often remembered by the acronym PEMDAS/BODMAS:

Parentheses/Brackets
Exponents (ie Powers and Square Roots, etc.)/Orders (ie Powers and Square Roots, etc.)
MD Multiplication and Division (left-to-right)
AS Addition and Subtraction (left-to-right)
Given the expression:

[ 3 + 2 - 2 \times 4 \div 2 + 2 ]

Let's solve it step by step:

Multiplication and Division:
[ 2 \times 4 = 8 ] [ 8 \div 2 = 4 ]

Replacing these values in the expression, we get:

[ 3 + 2 - 4 + 2 ]

Addition and Subtraction (from left to right):
[ 3 + 2 = 5 ] [ 5 - 4 = 1 ] [ 1 + 2 = 3 ]

So, the final answer is:

[ 3 ]

In [ ]:
print((6 + 3) - (6 + 3))

In [ ]:
universe_age: int  = 14_000_000_000
print(universe_age)

In [ ]:
# unzip
#0  1    2     0        1   2
a , b  , c  = 'qasim', 7, 3.0

print(a)
print(b)
print(c)

In [ ]:
'qasim', 7, 3.0

In [ ]:
data = ('qasim', 7, 3.0)
print(data[0], data[1], data[2])

In [ ]:
data = ('qasim', 7, 3.0)
print(*data)

In [ ]:
2 * 2
"a" * 3

In [ ]:
# akadkjas


# adskf
# ads
# Falsea
# df

In [ ]:
"""
asdf
asd
f
asdf

"""
print('hello')

**import this**

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!