In [ ]:
print("name")

In [ ]:
print(name)

In [ ]:
name : str = "Muhammad Qasim"
print(name)

String Data type in python

In [ ]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = "Muhammad Qasim"
print(type(name))
print(name)

In [ ]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = 'Muhammad Qasim'
print(type(name))
print(name)

In [ ]:
message : str = 'PIAIC Student Card \n father's Name'
print(message)

In [ ]:
message : str = "PIAIC Student Card \n father's Name"
print(message)

In [ ]:
# convert any special character into simple character, place \ before character
message : str = 'PIAIC Student Card \n father\'s Name'
print(message)

In [ ]:

message : str = "PIAIC Student Card \n father's Name"

In [ ]:
"a" + "b" + "c"

In [ ]:
"a" + "7"

In [ ]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30

card : str = "PIAIC Student Card\nStudent Name: " + name + "\nAge:" + age

print(card)

In [ ]:
"a" + str(7)

In [ ]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30

card : str = "PIAIC Student Card\nStudent Name: " + name + "\nAge:" + str(age)

In [ ]:
print(7 + 8 + 2)


"\" line continue

In [ ]:
print(7 + \
      8 + \
        2)

In [ ]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30

card : str = "PIAIC Student Card\nStudent Name: " + name +\
"\nAge:" + str(age)+ "\n"+\
"Education: " + education

print(card)

Define multiline string """ """, ''' '''

In [ ]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = """
PIAIC Student Card
Student Name : 
Father's Name: 
Age: ......
Education : .....
"""

print(card)

F-string pthon

In [ ]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
"""

print(card)

In [ ]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f'''
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
'''

print(card)

In [ ]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


# card : str = `
# PIAIC Student Card
# Student Name : {name}
# Father's Name: {fname}
# Age: {age}
# Education : {education}
# `

# print(card)

In [ ]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}

Total {2 + 8 + 9 + 3}
"""

print(card)

F-string and Jinja style

In [ ]:
f"""
student name {name}
"""

In [ ]:
# Jinja Style
"""
student name {{name}}
"""

In [ ]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : %s
Father's Name: %s
Age: %d
Education : %s

""" % (name, fname, age, education)

print(card)

In [ ]:
[i for i in dir(str) if "__" not in i]

In [ ]:
a = 7
b = 8
# {} place holder
#                   0                1          0 1
"pakistan value a = {} and value b = {}".format(a,b)

In [ ]:
# {} place holder
#                   0                1          0 1
"pakistan value a = {} and value b = {}".format(a,b)

In [ ]:
name : str = "MUhAMMad QaSiM"

print(name.capitalize())
print(name.lower())

In [ ]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}

Total {2 + 8 + 9 + 3}
"""

print(card)

In [ ]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = """
PIAIC Student Card
Student Name : {}
Father's Name: {}
Age: {}
Education : {}
""".format(fname, name, education, age)

print(card)

In [ ]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = """
PIAIC Student Card
Student Name : {1}
Father's Name: {0}
Age: {3}
Education : {2}
""".format(fname, name, education, age)
#           0      1       2        3

print(card)

In [ ]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = """
PIAIC Student Card
Student Name : {a}
Father's Name: {b}
Age: {c}
Education : {d}
""".format(a=name, b=fname, c=age, d=education)


print(card)

Recommended below two f-string format

In [ ]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
"""

print(card)

In [ ]:
student_code : str = """
print("My Name is Muhammad Qasim")
a:int = 7
b:int = 8
print(a + b)
"""

exec(student_code)

Explore String methods and attributes
pre-define global function we have used

print
type
id
dir
len

In [ ]:
a: list[str] = [i for i in dir(str) if "__" not in i]
print(a)
print(len(a))

In [ ]:
ame : str = "MuHammAd QasIm"

#variable_name.method()
print(name.capitalize())

In [ ]:
name : str = "MuHammAd QasIm"

#variable_name.method()
print(name)
print(name.casefold())

In [ ]:
name : str = "MuHammAd QasIm"

#variable_name.method()
print(name)
print(name.lower())

In [ ]:
name : str = "      MuHammAd QasIm         "

#variable_name.method()
display(name)
display(name.lstrip())

In [ ]:
name : str = "      MuHammAd QasIm         "

#variable_name.method()
display(name)
display(name.rstrip())

In [ ]:
name : str = "      MuHammAd QasIm         "

#variable_name.method()
display(name)
display(name.strip())

In [ ]:
name : str = "      MuHammAd       QasIm         "

#variable_name.method()
display(name)
display(name.strip())

In [ ]:
import re

name : str = "      MuHammAd           QasIm         "

display(name)

name1 : str = re.sub(' {2,100}',' ', name).strip()
display(name1)

In [ ]:
name : str = "MuHammAd QasIm"

#variable_name.method()
display(name)
display(name.title())

In [ ]:
name:str = "Ada Lovelace"
print(name.upper())
print(name.lower())

In [ ]:
\n
\t
\b

In [ ]:
print("Name:\t\t Muhammad Qasim")

In [ ]:
print("Name:\nMuhammad Qasim")

In [ ]:
print("Name:\bMuhammad Qasim")

In [ ]:
nostarch_url:str = 'https://nostarch.com'
nostarch_url.removeprefix('https://')

In [ ]:
1name : str = "Qasim"
print(1name)

In [ ]:
_1name : str = "Qasim"
print(_1name)

In [ ]:
piaic student name : str = "Muhammad Qasim"
print(piaic student name)

In [ ]:
piaic_student_name : str = "Muhammad Qasim"
print(piaic_student_name)