My first python modern class static type

In [ ]:

first = input("enter first number : ")
operator = input("enter operator (+,-,*,/,%) : ")
second = input("enter second number : ")
first = int(first)
second = int(second)
if operator == "+":
  print(first + second)
elif operator == "-":
  print(first - second)
elif operator == "*":
  print(first * second)
elif operator == "/":
  print(first / second) 
elif operator == "%":
  print(first % second) 
else: 
  ('invalid operation')

In [ ]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = "Muhammad Qasim"
print(type(name))
print(name)

In [ ]:
message : str = 'PIAIC Student Card \n father's Name'
print(message)

In [ ]:
message : str = "PIAIC Student Card \n father's Name"
print(message)

In [ ]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30

card : str = "PIAIC Student Card\nStudent Name: " + name + "\nAge:" + age

print(card)

In [ ]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30

card : str = "PIAIC Student Card\nStudent Name: " + name + "\nAge:" + age

print(card)

In [ ]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30

card : str = "PIAIC Student Card\nStudent Name: " + name +\
"\nAge:" + str(age)+ "\n"+\
"Education: " + education

print(card)

In [ ]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = """
PIAIC Student Card
Student Name : 
Father's Name: 
Age: ......
Education : .....
"""

print(card)

In [ ]:
name : str = "zulfiqar"
fname : str = "khan"
agr : int = 55
education : str = "Data Sciencetest"
print(name)

card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
"""

print(card)

In [ ]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
"""

print(card)

In [ ]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f'''
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
'''

In [ ]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = `
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
`

print(card)

In [ ]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}

Total {2 + 8 + 9 + 3}
"""

print(card)

**Recommended below two f-string format**

In [ ]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
"""

print(card)

In [ ]:
student_code : str = """
print("My Name is Muhammad Qasim")
a:int = 7
b:int = 8
print(a + b)
"""

exec(student_code)

In [ ]:
a: list[str] = [i for i in dir(str) if "__" not in i]
print(a)
print(len(a))

In [ ]:
name : str = "MuHammAd QasIm"

#variable_name.method()
print(name)
print(name.casefold())

In [ ]:
name : str = "MuHammAd QasIm"

#variable_name.method()
print(name)
print(name.lower())

In [ ]:
name : str = "      MuHammAd QasIm         "

#variable_name.method()
display(name)
display(name.lstrip())

In [ ]:
name : str = "      MuHammAd QasIm         "

#variable_name.method()
display(name)
display(name.rstrip())

In [ ]:
name : str = "      MuHammAd QasIm         "

#variable_name.method()
display(name)
display(name.strip())

In [ ]:
name : str = "      MuHammAd       QasIm         "

#variable_name.method()
display(name)
display(name.strip())

In [ ]:
import re

name : str = "      MuHammAd           QasIm         "

display(name)

name1 : str = re.sub(' {2,100}',' ', name).strip()
display(name1)

In [ ]:
name : str = "MuHammAd QasIm"

#variable_name.method()
display(name)
display(name.title())

In [ ]:
name:str = "Ada Lovelace"
print(name.upper())
print(name.lower())

In [ ]:
\n
\t
\b

In [ ]:
print("Name:\t\t Muhammad Qasim")

In [ ]:
print("Name:\nMuhammad Qasim")

In [ ]:
print("Name:\bMuhammad Qasim")

In [ ]:
nostarch_url:str = 'https://nostarch.com'
nostarch_url.removeprefix('https://')

In [ ]:
1name : str = "Qasim"
print(1name)

In [ ]:
names  = ["naem","sultan","musrat","nazir"]
for name in names:
 print(name)

message = (  "you are invite for dinner tonight")
for name in names:
 print(name, message)

In [ ]:
modes_of_transportation = ["motorcycle", "car", "bicycle", "scooter", "bus", "train"]
# Statements about Each Mode of Transportation
for mode in modes_of_transportation:
    if mode == "motorcycle":
        print(f"I would like to own a Honda {mode}.")
    elif mode == "car":
        print(f"A Tesla {mode} would be my dream car.")
    elif mode == "bicycle":
        print(f"I enjoy riding my {mode} around the neighborhood.")
    elif mode == "scooter":
        print(f"A Vespa {mode} is perfect for city commuting.")
    elif mode == "bus":
        print(f"The double-decker {mode} is a great way to explore the city.")
    elif mode == "train":
        print(f"I love taking the {mode} for long journeys.")

In [ ]:
piaic student name : str = "Muhammad Qasim"
print(piaic student name)

In [ ]:
piaic_student_name : str = "Muhammad Qasim"
print(piaic_student_name)

In [6]:
x = 5
y = 2
result = x // y
print(result)

2

In [ ]:
name : str = "MuHammAd QasIm"

#variable_name.method()
print(name.capitalize())

In [ ]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
"""

print(card)

In [1]:
%pip install nptyping beartype --upgrad --force

Note: you may need to restart the kernel to use updated packages.

Usage:
  c:\Users\Zulfiqar Muhammad\miniconda3\envs\py12\python.exe -m pip install [options] <requirement specifier> [package-index-options] ...
  c:\Users\Zulfiqar Muhammad\miniconda3\envs\py12\python.exe -m pip install [options] -r <requirements file> [package-index-options] ...
  c:\Users\Zulfiqar Muhammad\miniconda3\envs\py12\python.exe -m pip install [options] [-e] <vcs project url> ...
  c:\Users\Zulfiqar Muhammad\miniconda3\envs\py12\python.exe -m pip install [options] [-e] <local project path> ...
  c:\Users\Zulfiqar Muhammad\miniconda3\envs\py12\python.exe -m pip install [options] <archive url/path> ...

ambiguous option: --upgrad (--upgrade, --upgrade-strategy?)

In [ ]:
name: str = "Alice"
age: int = 30
print("My name is %s and I am %d years old." % (name, age))

In [ ]:
name: str = "Alice"
age: int = 30
print("My name is {} and I am {} years old.".format(name, age))

In [ ]:
name: str = "Alice"
age: int = 30
print(f"My name is {name} and I am {age} years old.")

advance techneks

In [ ]:
x: int = 10
y: int = 20
print(f"The sum of {x} and {y} is {x+y}.")

In [ ]:
pi: float = 3.14159
print(f"Value of pi to 2 decimal places: {pi:.2f}")

In [ ]:
print(" I'm so happy today to start my Ist Calass python with static type")

In [ ]:
print("helio world")

In [ ]:
def greeting(name: str) -> str:
    return 'Hello ' + name
print(greeting)

In [ ]:
print("Hello world")